:intro //start of UI
{
    pointer-events: all;
}

MainGame{
    background-color: rgb(13, 17, 23);
    color: white;
    font-family: poppins;
    z-index: -9;
    pointer-events: all;
    width: 100%;
}

#flex {
    display: flex;
    flex-direction: column;
}

//collums
.left{
    width: 30%;
    order: 1;
}

.center{
    width: 40%;
    order: 2;
}

.right{
    width: 30%;
    order: 3;
}

//main clicky
.leimage{
    width: 300px;
    height: 300px;
    object-fit: contain;
    position: relative;
    margin-left: 30%;
    margin-right: 30%;
    margin-top: 35%;
    margin-bottom: 30%;
}