:intro //start of UI
{
    pointer-events: all;
}

MainGame{
    background-color: rgb(13, 17, 23);
    color: white;
    font-family: poppins;
    z-index: -9;
    pointer-events: all;
    width: 100%;
}

#flex {
    display: flex;
    flex-direction: column;
}

//collums
.left{
    width: 30%;
    order: 1;
}

.center{
    width: 50%;
    order: 2;
}

.right{
    width: 30%;
    order: 3;
}

//main clicky
.theKey{
    position: absolute;
    height: 90%;
    width: 100%;
    align-self: center;
}

//left area
.AmountDisplay{
    font-family: poppins;
    font-weight: bolder;
    font-size: 50px;
    margin-left: 5%;
    margin-top: 5%;
}